/* CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#283845, #e2e3ef);

}

/* Nav stuff  */
nav {
    background-color: #283845;
    padding: 1em;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

#nav-logo {
    justify-self: flex-start;
    flex-grow: 1;
}

nav a {
    color: white;
    font-size: 24px;
    margin: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

nav li {
    display: inline-block;
    color: white;
}

/* me stuff */
img {
    border: 0.5em solid white;
}

.me-info {
    margin-top: 1em;
}

.me-text {
    padding: 1em;
}

.me-text h1 {
    font-size: 5rem;
    font-family: 'Courgette', cursive;
}

.education h1 {
    font-size: x-large;
}

.education li {
    margin-left: 1.2em;
}

#cv {
    width: 60%;
    margin: 0 auto;

}

h2 {
    font-family: 'Poppins', cursive;
}

hr {
    margin: 1em 0;
}

/* tools stuff */
article {
    text-align: center;
    font-size: x-large;
    margin-top: 1em;
}

#title h1 {
    font-size: 3rem;
    padding: 0.5em;
}

#tools-links a {
    color: darkblue;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

span {
    font-weight: bolder;
}



#tools-links {
    width: 60%;
    margin: 0 auto;
}

#tools-links li {
    margin-left: 1.2em;
}


th {
    text-align: left;
}

/* javascript stuff */
.img-js{
    border-radius: 10%;
    width: 500px;
    position: relative;
    top: 0px;
    left: 300px;
    display: none;
    
}

.btn{
    width: 200px;
    height: 75px;
    font-size: larger;
    font-family: 'Courgette', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.end-hr {
    margin-bottom: 10em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #283845;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}